* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
  background-color: #222222;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 1rem;
  flex-grow: 1;
  padding: 10rem;
}

.catImg {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 8px;
}

.catImageWrapper {
  flex: 1 0 calc(25% - 16px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.catImageWrapper a {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.catImageWrapper a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px #1DCD9F;
  cursor: pointer;
}

.catImg {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.footer {
  display: flex;
  background-color: #169976;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  min-height: 5vh;
  font-weight: bold;
}